<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js">
       
    </script>
</head>
<body>
    <div id="app">
        {{ message }}
        
        <br>
        
        <span v-bind:title="message">
            Hover your mouse over me for a few seconds
            to see my dynamically bound title!
          </span>

          <span v-if="seen"><br><br>Now you see me</span>

          <ol>
            <li v-for="todo in todos">
              {{ todo.text }}
            </li>
          </ol>

          <button v-on:click="reverseMessage">Reverse Message</button>

          <input v-model="message">

          <ol>
            <todo-item
              v-for="item in groceryList"
              v-bind:todo="item"
              v-bind:key="item.id"
            ></todo-item>
          </ol>
    </div>

    <script>
        Vue.component('todo-item', {
            props: ['todo'],
            template: '<li>{{todo.text}}</li>'
        })

        var app = new Vue({
            el: '#app',
            data: {
                message: 'Hello Vue!',
                seen: true,
                todos: [
                    { text: 'Learn JavaScript' },
                    { text: 'Learn Vue' },
                    { text: 'Build something awesome' }
                ],
                groceryList: [
                    { id: 0, text: 'Vegetables' },
                    { id: 1, text: 'Cheese' },
                    { id: 2, text: 'Whatever else humans are supposed to eat' }
                ]
            },
            methods: {
                reverseMessage: function () {
                this.message = this.message.split('').reverse().join('')
                }
            }
        })

        


    </script>
</body>
</html>



CITI_SITE cookie

23.209.155.219 www.banamex.com
in host file

jardinez y queretaro
JRDC y qrdc

test1.txt


